@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #020617;
  --foreground: #f1f5f9;
}

.god-mode {
  --background: #000000;
  --foreground: #22c55e;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.5s ease, color 0.5s ease;
}